main.settings {
  width: 100%;
  margin-top: 81.5px;
  padding: 48px 96px;

  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.form-row {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

input {
  width: 50%;
  border: 1.5px black solid;
  font-family: "CoFo Sans Pixel";
  font-size: 24px;
  padding: 8px;
}

.button-row {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 24px;
}

button {
  background-color: white;
  border: 1.5px black solid;
  font-family: "CoFo Sans Pixel";
  font-size: 24px;
  padding: 12px 16px;
}

#save {
  background-color: #c2d5cc;
}

#reset {
  background-color: #ffe2e3;
}

#save:hover,
#reset:hover {
  background-color: black;
  color: white;
}
