#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.logo {
  width: 48px;
  height: 48px;
}

nav {
  width: 100%;
  padding: 16px 48px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1.5px black solid;
  position: fixed;
  top: 0;
}

.left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 12px;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 64px;
}
