main.insights {
  width: 100%;
  margin-top: 81.5px;
  padding: 48px 200px;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}

.bento-grid {
  display: grid;
  gap: 24px;

  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "focus focus break break"
    "today today average cycles"
    "chart chart chart chart";
}

.box {
  height: 240px;
  border-radius: 24px;
  padding: 40px 48px;
}

.focus {
  grid-area: focus;
  background-color: #ffe2e3;
  color: #ff4c51;
}

.break {
  grid-area: break;
  background-color: #fff6b1;
  color: #06433e;
}

.focus,
.break {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
}

.focus-break-left {
  width: 50%;
  font-size: 56px;
}

.focus-break-right {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  line-height: 1;
}

.right-stat {
  display: flex;
  flex-flow: column nowrap;
  gap: px;
}

.right-stat-num {
  font-size: 48px;
}

.today {
  grid-area: today;
  background-color: #c2d5cc;
  color: #06433e;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.today-title {
  font-size: 40px;
  line-height: 1;
}

.today-bottom {
  display: flex;
  flex-flow: row nowrap;
  line-height: 1;
}

.today-stat {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  width: 50%;
}

.today-stat-num {
  font-size: 64px;
}

.avg {
  grid-area: average;
  background-color: #06433e;
  color: #ffe2e3;
}

.cycles {
  grid-area: cycles;
  background-color: #ff4c51;

  color: #fff6b1;
}

.avg,
.cycles {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.avg-cycles-num {
  line-height: 1;
  font-size: 64px;
}

.avg-cycles-label {
  line-height: 1.25;
}

.chart {
  grid-area: chart;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 24px;
  background-color: #ffe2e3;
}

.chart-title {
  font-size: 40px;
  color: #ff4c51;
}

.chart canvas {
  width: 100%;
  height: 100%;
}
